export namespace ApiKey{
    export const consumer_key: string = "xxx";
    export const consumer_secret: string = "xxx";
    export const access_token_key: string = "xxx";
    export const access_token_secret: string = "xxx";
}
export default ApiKey;